@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: "Gordita";
  src: url("../fonts/Gordita-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block; }

/*================== Reset ======================*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*================== Header =====================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4; }
  .header__wrapper {
    min-height: 70px;
    background-color: #fff; }
  .header__body {
    padding-top: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 70px; }
    @media (max-width: 1727px) {
      .header__body {
        padding-top: calc(15px + 38 * ((100vw - 320px) / 1407)); } }
    @media (max-width: 991.98px) {
      .header__body {
        padding-bottom: 15px; } }
  .header__main {
    padding-right: 10px; }
    @media (max-width: 991.98px) {
      .header__main {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto; } }
  .header__logo {
    display: block;
    width: 149px;
    height: 32px;
    z-index: 5; }
  .header__button {
    min-width: 211px;
    border-radius: 29px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #f4f3f3;
    background-color: #556ce3;
    border: solid 1px transparent;
    position: relative;
    z-index: 15;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: none; }
    @media (max-width: 1727px) {
      .header__button {
        font-size: calc(16px + 4 * ((100vw - 320px) / 1407)); } }
    @media (any-hover: hover) {
      .header__button:hover {
        background-color: transparent;
        border: solid 1px #4a5fc9;
        color: #000; } }
    @media (min-width: 479.98px) {
      .header__button {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; } }

@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 110px 15px 15px 30px;
    overflow: auto;
    background-color: #51efd2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s; }
    .menu__body._active {
      left: 0; }
    .menu__body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: #fff;
      z-index: 1; } }
    @media (max-width: 991.98px) and (max-width: 479.98px) {
      .menu__body::before {
        height: 70px; } }

@media (min-width: 991.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 36px; } }

@media (max-width: 991.98px) {
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__item:not(:last-child) {
      padding-bottom: 20px; } }

.menu__link {
  font-family: "Gordita";
  font-size: 20px;
  line-height: 42px;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s; }
  @media (max-width: 1727px) {
    .menu__link {
      font-size: calc(16px + 4 * ((100vw - 320px) / 1407)); } }
  @media (min-width: 991.98px) {
    .menu__link._active {
      font-weight: 600;
      text-decoration: underline; } }
  @media (any-hover: hover) {
    .menu__link:hover {
      font-weight: 600;
      text-decoration: underline; } }
  @media (max-width: 991.98px) {
    .menu__link {
      font-size: 24px;
      color: #fff; } }

.icon-menu {
  margin-left: 15px;
  display: block;
  position: relative;
  z-index: 4;
  width: 30px;
  height: 18px; }
  @media (min-width: 991.98px) {
    .icon-menu {
      display: none; } }
  .icon-menu::before, .icon-menu::after {
    content: ""; }
  .icon-menu__line, .icon-menu::before, .icon-menu::after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000; }
  .icon-menu::before {
    top: 0; }
  .icon-menu::after {
    bottom: 0; }
  .icon-menu__line {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%); }
  .icon-menu._active::before {
    top: 46%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .icon-menu._active .icon-menu__line {
    -webkit-transform: scale(0);
            transform: scale(0); }
  .icon-menu._active::after {
    bottom: 45%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

body {
  font-family: "Gordita";
  font-size: 16px;
  font-weight: 400;
  color: #000; }
  body._lock {
    overflow: hidden; }

/*----------------- Wrapper --------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*---------------- Container -------------------*/
._container {
  max-width: 1727px;
  padding: 0 15px;
  margin: 0 auto; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover; }

/*------------------ Button --------------------*/
.button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 23px;
  min-height: 56px; }

/*------------------ Title ---------------------*/
/*---------------- Subtitle --------------------*/
/*------------------ Page ----------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.main-block__wrapper {
  padding-top: 261px; }
  @media (max-width: 1727px) {
    .main-block__wrapper {
      padding-top: calc(70px + 191 * ((100vw - 320px) / 1407)); } }

.main-block__body {
  position: relative;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }

.main-block__text {
  max-width: 848px; }
  @media (max-width: 1727px) {
    .main-block__text {
      max-width: calc(290px + 558 * ((100vw - 320px) / 1407)); } }

.main-block__title {
  font-size: 102px;
  font-weight: 700;
  line-height: 116px; }
  @media (max-width: 1727px) {
    .main-block__title {
      font-size: calc(40px + 62 * ((100vw - 320px) / 1407)); } }
  @media (max-width: 766.98px) {
    .main-block__title {
      line-height: 60px; } }

.main-block__subtitle {
  font-size: 32px;
  line-height: 42px; }
  @media (max-width: 1727px) {
    .main-block__subtitle {
      font-size: calc(24px + 8 * ((100vw - 320px) / 1407)); } }

.main-block__symbol {
  position: absolute;
  display: none; }
  .main-block__symbol:first-child {
    top: 0;
    left: 158.3px; }
    @media (max-width: 1727px) {
      .main-block__symbol:first-child {
        left: calc(0px + 158.3 * ((100vw - 320px) / 1407)); } }
  .main-block__symbol:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 28.7px; }
    @media (max-width: 1727px) {
      .main-block__symbol:nth-child(2) {
        left: calc(0px + 28.7 * ((100vw - 320px) / 1407)); } }
  .main-block__symbol:nth-child(3) {
    bottom: -28.23px;
    left: 156px; }
    @media (max-width: 1727px) {
      .main-block__symbol:nth-child(3) {
        left: calc(0px + 156 * ((100vw - 320px) / 1407)); } }
  .main-block__symbol:nth-child(4) {
    top: -20px;
    right: 280.5px; }
    @media (max-width: 1727px) {
      .main-block__symbol:nth-child(4) {
        right: calc(0px + 280.5 * ((100vw - 320px) / 1407)); } }
  .main-block__symbol:nth-child(5) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 127.1px; }
    @media (max-width: 1727px) {
      .main-block__symbol:nth-child(5) {
        right: calc(0px + 127.1 * ((100vw - 320px) / 1407)); } }
  .main-block__symbol:last-child {
    bottom: -41.76px;
    right: 287px; }
    @media (max-width: 1727px) {
      .main-block__symbol:last-child {
        right: calc(0px + 287 * ((100vw - 320px) / 1407)); } }
  @media (min-width: 766.98px) {
    .main-block__symbol {
      display: block; } }

.title_blue {
  color: #556ce3; }

.title_turq {
  color: #51efd2; }

.title_pink {
  color: #fe70ac; }

/*------------------ Footer ---------------------*/
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 180px;
  padding-bottom: 40px;
  border-bottom: 2px solid #000; }
  @media (max-width: 1727px) {
    .footer__top {
      padding-top: calc(30px + 150 * ((100vw - 320px) / 1407)); } }
  @media (max-width: 1727px) {
    .footer__top {
      padding-bottom: calc(30px + 10 * ((100vw - 320px) / 1407)); } }

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.top-footer__logo {
  width: 96px;
  height: 17px;
  margin-right: 89px; }
  @media (max-width: 1727px) {
    .top-footer__logo {
      margin-right: calc(0px + 89 * ((100vw - 320px) / 1407)); } }

.top-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 766.98px) {
  .menu-footer__column:not(:last-child) {
    margin-right: 89px; } }
  @media (min-width: 766.98px) and (max-width: 1727px) {
    .menu-footer__column:not(:last-child) {
      margin-right: calc(15px + 74 * ((100vw - 320px) / 1407)); } }

.menu-footer__title {
  font-size: 24px;
  letter-spacing: 1.85px;
  color: #0e1111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: default;
  background-color: inherit; }
  @media (max-width: 1727px) {
    .menu-footer__title {
      font-size: calc(18px + 6 * ((100vw - 320px) / 1407)); } }
  .menu-footer__title::before {
    display: none; }
    @media (max-width: 479.98px) {
      .menu-footer__title::before {
        -webkit-transform: translate(0px, -2px) rotate(-180deg);
                transform: translate(0px, -2px) rotate(-180deg);
        font-size: 11px;
        display: block; } }
  .menu-footer__title._active > .menu-footer__title::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.menu-footer__item {
  padding-top: 20px; }

.menu-footer__link {
  font-size: 18px;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s; }
  @media (any-hover: hover) {
    .menu-footer__link:hover {
      color: #fec3d5; } }

.subscribe__title {
  font-size: 24px;
  letter-spacing: 1.85px;
  text-transform: uppercase;
  color: #0e1111;
  padding-bottom: 20px; }
  @media (max-width: 1727px) {
    .subscribe__title {
      font-size: calc(18px + 6 * ((100vw - 320px) / 1407)); } }

.subscribe__form {
  border: 1px solid #000;
  border-radius: 2px;
  max-width: 430px; }

.subscribe__input {
  padding: 22px 24px 21px 24px;
  min-width: 260px; }
  .subscribe__input::-webkit-input-placeholder {
    color: #000; }
  .subscribe__input::-moz-placeholder {
    color: #000; }
  .subscribe__input:-ms-input-placeholder {
    color: #000; }
  .subscribe__input::-ms-input-placeholder {
    color: #000; }
  .subscribe__input::placeholder {
    color: #000; }

.subscribe__button {
  padding: 22px 20px 21px 21px;
  font-size: 18px;
  letter-spacing: 1.85px;
  border-left: solid 1px #000;
  background-color: inherit;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (any-hover: hover) {
    .subscribe__button:hover {
      background-color: #fec3d5;
      color: #fff; } }
