@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Sintony:wght@400;700&display=swap");
.header { position: absolute; width: 100%; top: 0; left: 0; min-height: 40px; }

@media (max-width: 991.98px) { .header { min-height: 5px; } }

.header__wrapper { position: fixed; top: 0; left: 0; width: 100%; background-color: #fff; z-index: 50; -webkit-transition: background-color 0.3s ease 0s; transition: background-color 0.3s ease 0s; }

.header__body { padding: 22px 5px 18px 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 50px; }

@media (min-width: 1200px) { .header__body { min-height: 87px; } }

.header__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 991.98px) { .header__main { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

.header__logo { width: 212px; height: 41px; z-index: 50; }

@media (max-width: 1200px) { .header__logo { width: calc(170px + 42 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .header__logo { height: calc(33px + 8 * ((100vw - 320px) / 880)); } }

@media (min-width: 991.98px) { .header__menu { padding: 0 10px; } }

@media (max-width: 991.98px) { .menu__body { padding: 110px 15px 30px 15px; position: fixed; width: 100%; height: 100%; top: 0; left: -100%; overflow: auto; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; background-color: #fff; }
  .menu__body::before { content: ""; position: fixed; width: 100%; height: 87px; top: 0; left: -100%; -webkit-transition: left 0.3s ease 0s; transition: left 0.3s ease 0s; background-color: #fff; z-index: 2; }
  .menu__body._active { left: 0; }
  .menu__body._active::before { left: 0; } }

@media (min-width: 991.98px) { .menu__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; gap: 30px; } }

@media (min-width: 991.98px) and (max-width: 1200px) { .menu__list { gap: calc(15px + 15 * ((100vw - 320px) / 880)); } }

@media (max-width: 991.98px) { .menu__item { font-size: 18px; }
  .menu__item:not(:last-child) { margin-bottom: 20px; } }

.menu__link { color: inherit; text-transform: uppercase; font-weight: 700; line-height: 2.14; letter-spacing: 0.35px; -webkit-transition: color 0.3s ease 0s; transition: color 0.3s ease 0s; }

@media (any-hover: hover) { .menu__link:hover { color: #fea100; } }

.button__link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; z-index: 50; }

@media (min-width: 1200px) { .button__link { padding: 18px 17px 17px 0; line-height: 2.14; letter-spacing: 0.35px; font-size: 14px; -webkit-transition: color 0.3s ease 0s; transition: color 0.3s ease 0s; } }

@media (min-width: 1200px) and (max-width: 1200px) { .button__link { font-size: calc(12px + 2 * ((100vw - 320px) / 880)); } }

.button__icon { padding-right: 20px; padding-left: 14px; }

@media (max-width: 1200px) { .button__icon { padding: 10px 10px 11px 11px; } }

.button__text { display: none; }

@media (min-width: 1200px) { .button__text { display: block; } }

@media (max-width: 479.98px) { .button { margin-left: 10px; } }

.icon-menu { background-color: inherit; display: none; }

@media (max-width: 991.98px) { .icon-menu { margin-left: 32px; position: relative; display: block; -webkit-box-flex: 0; -ms-flex: 0 0 30px; flex: 0 0 30px; height: 18px; cursor: pointer; z-index: 5; } }

@media (max-width: 991.98px) and (max-width: 1200px) { .icon-menu { margin-left: calc(15px + 17 * ((100vw - 320px) / 880)); } }

@media (max-width: 991.98px) { .icon-menu__symbol { -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; top: calc(50% - 1px); left: 0px; position: absolute; width: 100%; height: 2px; background-color: #000; }
  .icon-menu__symbol:first-child { top: 0px; }
  .icon-menu__symbol:last-child { top: auto; bottom: 0px; }
  .icon-menu._active .icon-menu__symbol { -webkit-transform: scale(0); transform: scale(0); }
  .icon-menu._active .icon-menu__symbol:first-child { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: calc(50% - 1px); }
  .icon-menu._active .icon-menu__symbol:last-child { -webkit-transform: rotate(45deg); transform: rotate(45deg); bottom: calc(50% - 1px); } }

.footer { background-color: #373844; }

.footer__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.footer__social-icons { padding-top: 79px; }

.footer__bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 50px 0px 36px 0px; }

@media (min-width: 766.98px) { .footer__line { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; width: 369px; height: 1px; background-color: #52535e; } }

.footer__copy { padding-right: 109px; padding-left: 107px; font-size: 13px; text-transform: uppercase; line-height: 2; letter-spacing: 0.98px; color: #adb2b7; }

@media (max-width: 1200px) { .footer__copy { padding-right: calc(20px + 89 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .footer__copy { padding-left: calc(20px + 87 * ((100vw - 320px) / 880)); } }

.social-icon img { border-radius: 50%; }

.social-icon__facebook img { padding: 16px 21px; background-color: #3b5998; }

.social-icon__twitter img { padding: 19px 18px 18px 18px; margin: 0px 6px; background-color: #55acee; }

.social-icon__google img { padding: 18px 11px 16px 16px; background-color: #dd4b39; }

* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

body { font-family: "Sintony"; font-size: 14px; color: #5c6369; }

body._lock { overflow: hidden; }

/*----------------- Wrapper --------------------*/
.wrapper { width: 100%; min-height: 100%; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

/*---------------- Container -------------------*/
._container { max-width: 1200px; padding: 0 15px; margin: 0 auto; }

._ibg { position: relative; }

._ibg img { position: absolute; width: 100%; height: 100%; top: 0; left: 0; -o-object-fit: cover; object-fit: cover; }

/*------------------ Button --------------------*/
.button { background-color: #fea100; border-radius: 4px; color: #fff; font-weight: 700; text-transform: uppercase; }

@media (any-hover: hover) { .button:hover { background-color: #ed9804; } }

/*------------------ Title ---------------------*/
.title { font-family: "Playfair Display"; font-weight: 700; }

/*------------------ Page ----------------------*/
.page { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.page__special { position: relative; }

.main-block { margin-top: 87px; position: relative; }

.main-block__body { padding-top: 228px; padding-bottom: 248px; position: relative; z-index: 2; }

@media (max-width: 1200px) { .main-block__body { padding-top: calc(30px + 198 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .main-block__body { padding-bottom: calc(30px + 218 * ((100vw - 320px) / 880)); } }

.main-block__title { font-size: 56px; line-height: 0.54; color: #fff; }

@media (max-width: 1200px) { .main-block__title { font-size: calc(30px + 26 * ((100vw - 320px) / 880)); } }

.main-block__subtitle { margin-top: 15px; padding-left: 2px; font-family: "Playfair Display"; font-size: 40px; font-weight: 700; line-height: 0.75; color: #fff; }

@media (max-width: 1200px) { .main-block__subtitle { font-size: calc(20px + 20 * ((100vw - 320px) / 880)); } }

.main-block__subtitle_orange { color: #fea100; }

.main-block__image { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.contact { background-color: #edf1f3; }

.contact__body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 34px 0; }

.contact__icon { padding-right: 5px; }

.contact__text { display: none; }

@media (min-width: 479.98px) { .contact__text { display: block; padding-left: 18px; padding-right: 46px; font-weight: 700; text-transform: uppercase; line-height: 1.43; color: #14141d; } }

@media (min-width: 479.98px) and (max-width: 1200px) { .contact__text { padding-left: calc(10px + 8 * ((100vw - 320px) / 880)); } }

@media (min-width: 479.98px) and (max-width: 1200px) { .contact__text { padding-right: calc(10px + 36 * ((100vw - 320px) / 880)); } }

.contact__text_orange { color: #fea100; }

.contact__phone { padding-left: 5px; font-family: "Playfair Display"; font-size: 32px; font-weight: 700; line-height: 0.69; color: #14141d; }

.about__wrapper { padding-top: 66px; padding-bottom: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 1200px) { .about__wrapper { padding-top: calc(30px + 36 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .about__wrapper { padding-bottom: calc(30px + 70 * ((100vw - 320px) / 880)); } }

@media (max-width: 991.98px) { .about__wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.about__column { -webkit-box-flex: 0; -ms-flex: 0 1 48.7179487179%; flex: 0 1 48.7179487179%; }

.about__column:nth-child(1) { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.about__title { font-size: 35px; line-height: 0.63; color: #14141d; }

@media (min-width: 991.98px) { .about__title { padding-top: 55px; } }

@media (max-width: 1200px) { .about__title { font-size: calc(28px + 7 * ((100vw - 320px) / 880)); } }

.about__text { padding: 39px 0px 47px 0px; line-height: 1.86; color: #5c6369; max-width: 543px; }

.about__button { padding: 20px 35px 19px 34px; background-color: #fea100; }

.about__gallery { display: -ms-grid; display: grid; -ms-grid-columns: 1fr 30px 1fr; grid-template-columns: 1fr 1fr; -ms-grid-rows: 1fr 10px 1fr; grid-template-rows: 1fr 1fr; row-gap: 10px; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; }

.about__gallery > *:nth-child(1) { -ms-grid-row: 1; -ms-grid-column: 1; }

.about__gallery > *:nth-child(2) { -ms-grid-row: 1; -ms-grid-column: 3; }

.about__gallery > *:nth-child(3) { -ms-grid-row: 3; -ms-grid-column: 1; }

.about__gallery > *:nth-child(4) { -ms-grid-row: 3; -ms-grid-column: 3; }

@media (max-width: 1200px) { .about__gallery { -webkit-column-gap: calc(10px + 20 * ((100vw - 320px) / 880)); -moz-column-gap: calc(10px + 20 * ((100vw - 320px) / 880)); column-gap: calc(10px + 20 * ((100vw - 320px) / 880)); } }

@media (max-width: 991.98px) { .about__gallery { margin-top: 30px; } }

@media (max-width: 766.98px) { .about__gallery { display: block; } }

@media (min-width: 991.98px) { .gallery { margin-left: 59px; } }

@media (min-width: 991.98px) { .gallery__item:first-child { margin-top: 50px; }
  .gallery__item:last-child { margin-top: -50px; } }

@media (max-width: 766.98px) { .gallery__item:not(:last-child) { margin-bottom: 30px; } }

.special__body { position: relative; z-index: 1; }

.special__title { padding: 97px 0px 26px 0px; text-align: center; font-size: 35px; font-weight: bold; line-height: 0.63; color: #fff; }

.special__cards { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 31px; padding-bottom: 128px; }

@media (max-width: 1200px) { .special__cards { gap: calc(15px + 16 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .special__cards { padding-bottom: calc(30px + 98 * ((100vw - 320px) / 880)); } }

.special__image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.cards-special__card { background-color: #fff; max-width: 569px; -webkit-box-shadow: 0px 24px 38px 0 rgba(0, 0, 0, 0.09); box-shadow: 0px 24px 38px 0 rgba(0, 0, 0, 0.09); }

@media (max-width: 1200px) { .cards-special__card { max-width: calc(285px + 284 * ((100vw - 320px) / 880)); } }

.cards-special__top { position: relative; width: 569px; height: 420px; }

@media (max-width: 1200px) { .cards-special__top { width: calc(285px + 284 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .cards-special__top { height: calc(210px + 210 * ((100vw - 320px) / 880)); } }

.cards-special__image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.cards-special__body { text-align: center; margin-left: 48px; margin-right: 48px; border-bottom: 1px solid #e1e1e1; }

@media (max-width: 1200px) { .cards-special__body { margin-left: calc(15px + 33 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .cards-special__body { margin-right: calc(15px + 33 * ((100vw - 320px) / 880)); } }

.cards-special__title { padding-top: 50px; font-family: "Playfair Display"; font-size: 26px; font-weight: 700; line-height: 0.85; color: #14141d; }

@media (max-width: 1200px) { .cards-special__title { font-size: calc(20px + 6 * ((100vw - 320px) / 880)); } }

.cards-special__text { padding-top: 22px; padding-bottom: 62px; margin-left: 23px; margin-right: 23px; font-family: "Sintony"; font-size: 14px; line-height: 1.86; color: #5c6369; }

@media (max-width: 1200px) { .cards-special__text { padding-bottom: calc(22px + 40 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .cards-special__text { margin-left: calc(15px + 8 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .cards-special__text { margin-right: calc(15px + 8 * ((100vw - 320px) / 880)); } }

.cards-special__line { display: block; border: solid 1px #e1e1e1; }

.cards-special__bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 24px; padding-bottom: 35px; padding-left: 46px; padding-right: 46px; }

@media (max-width: 1200px) { .cards-special__bottom { padding-left: calc(15px + 31 * ((100vw - 320px) / 880)); } }

@media (max-width: 1200px) { .cards-special__bottom { padding-right: calc(15px + 31 * ((100vw - 320px) / 880)); } }

.cards-special__cta { padding: 6px 18px 5px 0px; font-size: 13px; font-weight: 700; line-height: 1.31; text-transform: uppercase; border-right: solid 1px #e1e1e1; }

.cards-special__cta_pink { color: #fe4c8d; }

.cards-special__phone { padding: 0px 20px 0px 20px; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font-family: "Playfair Display"; font-size: 26px; font-weight: 700; line-height: 0.85; color: #14141d; display: block; }

@media (max-width: 991.98px) { .cards-special__phone span { display: none; } }

.cards-special__phone .contact__icon { display: none; }

@media (max-width: 991.98px) { .cards-special__phone .contact__icon { display: block; margin: 0 auto; } }

.cards-special__price { position: relative; font-family: "Playfair Display"; font-size: 30px; font-weight: 700; line-height: 0.73; color: #fea100; }

.cards-special__price_curency { position: absolute; top: 0; left: -10px; font-size: 16px; }
