@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Lato:wght@700&family=Playfair+Display:wght@700&family=Sintony:wght@400;700&display=swap");
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

body { font-family: "Sintony"; font-size: 20px; color: #000; }

body._lock { overflow: hidden; }

/*----------------- Wrapper --------------------*/
.wrapper { width: 100%; min-height: 100%; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

/*---------------- Container -------------------*/
._container { max-width: 1393px; padding: 0 15px; margin: 0 auto; }

._ibg { position: relative; }

._ibg img { position: absolute; width: 100%; height: 100%; top: 0; left: 0; -o-object-fit: cover; object-fit: cover; }

/*------------------ Button --------------------*/
.button { background-color: #0034ce; border-radius: 4px; color: #fff; font-weight: 700; text-transform: uppercase; }

/*------------------ Title ---------------------*/
.title { font-family: "Lato"; font-weight: 400; }

/*------------------ Page ----------------------*/
.page { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }

.main-block__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (min-width: 1200px) { .main-block__wrapper { padding-left: 100px; } }

@media (max-width: 991.98px) { .main-block__wrapper { text-align: center; } }

@media (max-width: 1200px) { .main-block__wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.main-block__top { padding-top: 79.5px; display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 1393px) { .main-block__top { padding-top: calc(15px + 64.5 * ((100vw - 320px) / 1073)); } }

.main-block__logo { max-width: 248px; max-height: 54.79px; }

.main-block__logo img { width: 100%; height: 100%; }

@media (max-width: 1393px) { .main-block__logo { max-width: calc(78px + 170 * ((100vw - 320px) / 1073)); } }

@media (max-width: 1393px) { .main-block__logo { max-height: calc(17.23px + 37.56 * ((100vw - 320px) / 1073)); } }

.main-block__icon { display: none; padding-top: 36.5px; padding-left: 123px; }

@media (min-width: 991.98px) { .main-block__icon { display: block; } }

@media (max-width: 1393px) { .main-block__icon { padding-top: calc(0px + 36.5 * ((100vw - 320px) / 1073)); } }

@media (max-width: 1393px) { .main-block__icon { padding-left: calc(70px + 53 * ((100vw - 320px) / 1073)); } }

@media (min-width: 991.98px) { .main-block__column { -webkit-box-flex: 0; -ms-flex: 0 1 41.2778176597%; flex: 0 1 41.2778176597%; } }

@media (max-width: 1200px) { .main-block__column { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

@media (min-width: 991.98px) { .main-block__column:last-child { -webkit-box-flex: 0; -ms-flex: 0 1 61.2347451543%; flex: 0 1 61.2347451543%; } }

@media (max-width: 1200px) { .main-block__column:last-child { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; } }

.main-block__title { font-size: 190px; font-weight: 900; letter-spacing: -17px; margin-top: 40px; padding-bottom: 5px; }

@media (max-width: 1393px) { .main-block__title { font-size: calc(116px + 74 * ((100vw - 320px) / 1073)); } }

.main-block__subtitle { font-size: 113px; font-weight: 700; letter-spacing: -8px; color: #0034ce; padding-bottom: 43px; }

@media (max-width: 1393px) { .main-block__subtitle { font-size: calc(69px + 44 * ((100vw - 320px) / 1073)); } }

.main-block__text { max-width: 575px; font-family: "Inter"; font-weight: 400; font-size: 20px; line-height: 125%; text-transform: uppercase; margin-bottom: 32px; }

@media (max-width: 1393px) { .main-block__text { margin-bottom: calc(40px + -8 * ((100vw - 320px) / 1073)); } }

.main-block__button { width: 150px; height: 57px; display: inline-block; padding: 20px 20.55px 20px 21px; text-align: center; font-family: "Inter"; font-weight: 900; font-size: 16px; line-height: 131%; text-transform: uppercase; border-radius: 8px; }

@media (max-width: 1393px) { .main-block__button { width: calc(163px + -13 * ((100vw - 320px) / 1073)); } }

@media (max-width: 1393px) { .main-block__button { height: calc(46.64px + 10.36 * ((100vw - 320px) / 1073)); } }

.main-block__image { width: 853px; height: 853px; }

@media (max-width: 1393px) { .main-block__image { width: calc(376px + 477 * ((100vw - 320px) / 1073)); } }

@media (max-width: 1393px) { .main-block__image { height: calc(376px + 477 * ((100vw - 320px) / 1073)); } }

@media (max-width: 991.98px) { .main-block__image { margin: 0 auto; } }
